* {
    font-family: monospace;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

p {
    font-size: 1.2rem;
}

#add-person-form .add-person-form-field{
    padding-bottom: 1rem;
}

.person-list {
    padding-left: 0px;
}

.person-item {
    list-style: none;
    padding-bottom: 0.5rem;
    white-space: no-wrap;
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.person-item .person-name {
    font-size: 1.1rem;
    font-weight: 600;
}

.person-item .person-phone {
    color: blue;
}

#delete-contact-button {
    padding: 0.1rem 0.5rem;
    border-width: 0.1rem;
    border-color: black;
    border-radius: 5%;
}

#delete-contact-button:hover {
    background-color: #5353fc;
    color: white;
}

.addition {
    color: white;
    background: green;
    font-size: 20px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    width: fit-content;
  }
  

.deletion, .error {
    color: white;
    background: red;
    font-size: 20px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    width: fit-content;
  }
  