:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background-color: #020f3ada;
  background-size: cover;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-height: 100vh;
  color: #f4f3f3;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

li {
  font-size: 0.9em;
}

.appTitle {
  font-size: 4em;
  font-weight: 100;
  text-shadow: 0.1px 0.1px 2px #f4f3f3;
}

.appTitleHead {
  color: #5cec4f;
  text-shadow: 0.1px 0.1px 2px #5cec4f;
}

.filterBar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-weight: 300;
  text-shadow: 0.1px 0.1px 1px #f4f3f3;
}

.searchInput {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: #000000;
  box-sizing: border-box;
  border-width: 0.1rem;
  border-radius: 1rem;
  border-color: #21f20e44;
  padding: 0.5rem 0.8rem;
}

.searchInput:focus {
  border-width: 0.1rem;
  border-radius: 1rem;
}

.countryList {
  display: flex;
  align-items: baseline;
  justify-content: center;
  gap: 1rem;
  font-weight: 300;
  text-align: left;
}

.listBtn {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  border-width: 0.1rem;
  border-radius: 1rem;
  color: #020f3a;
  background-color: #f8e61cd2;
  border-color: #f8e61c47;
  padding: 3px 1rem;
  font-weight: 400;
  font-style: italic;
}

.listBtn:hover {
  box-shadow: 0.1px 0.1px 5px #f6f0b16e;
  cursor: pointer;
}

.countryContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: space-evenly;
  text-shadow: 0.1px 0.1px 2px #f4f3f3;
}

.loadingIcon {
  animation: rotate 2s linear infinite; /* Adjust duration and timing function as needed */
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}